{% extends "layout.html" %}
{% block head %}
   <title>Sending</title>
    <script type="text/javascript" src="/static/js/active_leads.js"></script>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="container">
        <table id="active_leads_table" class="sortable">
            <thead>
                <tr>
                    <th>Keyword</th>
                    <th>Domain</th>
                    <th>Email</th>
                    <th class='no-sort'>Mark to send</th>
                    <th>Has video?</th>
                    <th>Is mobile friendly?</th>
                    <th>Template name</th>
                </tr>
            </thead>
            <tbody>
                {% for lead in leads %}
                    <tr id="row_{{lead.id}}">
                        <td> {{ lead.keywords }} </td>
                        <td> {{ lead.domain }} </td>
                        <td> {{ lead.mail|default:'not found' }} </td>
                        <td><input type="checkbox" class="form-control" id="{{ lead.id }}"/></td>
                        <td> {{ lead.has_video }} </td>
                        <td> {{ lead.is_mobile_friendly }} </td>
                        <td>
                            <select id="select_{{lead.id}}">
                                <option value="0" disabled> Template name </option>
                                {% for template in templates %}
                                    <option value="{{template.id}}" {% if lead.template.id == template.id %} selected {% endif %}> {{ template.name }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-sm-1 col-sm-offset-5">
            <table>
                <tbody>
                    <tr>
                        <td colspan="6" align="center"><input class="btn btn-danger" type="button" onclick="send_campaign()" value="Send"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
      $( document ).ready(function() {

      });
    </script>
    <script type="text/javascript">
      $( function() {
        $('#active_leads_table').DataTable({
            searching: true,
            stateSave: true,

            paging: true,
            lengthMenu: [ [10, 50, 100, 500, 1000], [10, 50, 100, 500, 1000] ],
            pageLength: 500,

            "aoColumnDefs" : [
                {
                   'bSortable' : false,
                   'aTargets' : [ 'no-sort' ]
                }
            ],
            "fnDrawCallback": function( oSettings ) {

            },
        });
      } );
      $("#Send").addClass('active');
      $("#Base").removeClass();
    </script>
{% endblock %}
