{% extends "layout.html" %}
{% block head %}
    <title>Templates</title>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% for template in templates %}
                        <li><a href="/templates/?template_id={{template.id}}">{{template.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <form class="well form-horizontal" action="/save_template/" method="post"  id="contact_form">
                    {% csrf_token %}
                    <fieldset>
                        <legend>
                            <div style="float: left">Template generation form</div>
                        </legend>

                        <div class="form-group">
                            <label class="col-sm-2 control-label required">Template name</label>
                            <div class="col-sm-10 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input name="name" placeholder="" required class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="form-group">
                            <label class="col-sm-2 control-label required">Subject</label>
                            <div class="col-sm-10 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input name="subject" placeholder="" required class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="form-group">
                            <label class="col-sm-2 control-label required">Body</label>
                            <div class="col-sm-10 inputGroupContainer text-left">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <textarea class="text" cols="150" rows ="20" name="body"></textarea>
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-danger" id="submit_form_button"> Save <span class="glyphicon glyphicon-submit"></span></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
      $("#Temp").addClass('active');
      $("#Base").removeClass();
    </script>
{% endblock %}
